---

- name: Create Homebrew directories
  file:
    path: "{{ homebrew_prefix }}/{{ item }}"
    state: directory
    owner: "{{ homebrew_user }}"
    group: "{{ homebrew_group }}"
    mode: "{{ homebrew_mode }}"
  become: true
  with_items:
    - Caskroom
    - Cellar
    - Frameworks
    - bin
    - etc
    - include
    - lib
    - opt
    - sbin
    - share
    - var

- name: Create Homebrew directory
  file:
    path: "{{ homebrew_directory }}"
    state: directory
    owner: "{{ homebrew_user }}"
    group: "{{ homebrew_group }}"
    mode: "{{ homebrew_mode }}"
  become: true

- name: Create Homebrew cache
  file:
    path: "{{ homebrew_cache }}"
    state: directory

- name: Clone Homebrew repository
  git:
    repo: "{{ homebrew_repository }}"
    dest: "{{ homebrew_directory }}"
    version: master
    update: no

- name: Link brew binary
  file:
    src: "{{ homebrew_directory }}/bin/brew"
    dest: "{{ homebrew_prefix }}/bin/brew"
    state: link
  when: homebrew_directory != homebrew_prefix

- name: Run brew update to complete installation
  command: "{{ homebrew_prefix }}/bin/brew update --force"
  environment:
    HOMEBREW_NO_ANALYTICS_THIS_RUN: "1"
    HOMEBREW_NO_ANALYTICS_MESSAGE_OUTPUT: "1"

- name: Turn off analytics
  command: "{{ homebrew_prefix }}/bin/brew analytics off"
