---

- name: Create directories
  file:
    path: "{{ homebrew_prefix }}/{{ item }}"
    state: directory
    owner: "{{ homebrew_user }}"
    group: "{{ homebrew_group }}"
    mode: 0775
  become: true
  with_items:
    - Caskroom
    - Cellar
    - Frameworks
    - bin
    - etc
    - include
    - lib
    - opt
    - sbin
    - share
    - var

- name: Create Homebrew directory
  file:
    path: "{{ homebrew_prefix }}/Homebrew"
    state: directory
    owner: "{{ homebrew_user }}"
    group: "{{ homebrew_group }}"
    mode: 0755
  become: true

- name: Create cache directory
  file:
    path: "{{ homebrew_cache_dir }}"
    state: directory
    owner: "{{ homebrew_user }}"
    group: "{{ homebrew_group }}"
    mode: 0775
  become: true

# Make sure this directory has the correct permissions.
# If another program creates this first (looking at you Parallels Tools), it could munge the permissions.
# This causes the 'brew services' command to error out.
- name: Create user LaunchAgents directory
  file:
    path: "{{ ansible_env.HOME }}/Library/LaunchAgents"
    state: directory
    owner: "{{ homebrew_user }}"
    group: "{{ homebrew_group }}"
    mode: 0755
  become: true

- name: Clone {{ brew_git_repo }}
  git:
    repo: "{{ brew_git_repo }}"
    dest: "{{ homebrew_repo_dir }}"
    version: master
    update: no

- name: Check for existing brew symlink
  stat:
    path: "{{ homebrew_prefix }}/bin/brew"
  register: homebrew_symlink

- name: Link brew binary
  file:
    src: "{{ homebrew_repo_dir }}/bin/brew"
    dest: "{{ homebrew_prefix }}/bin/brew"
    state: link
  when: homebrew_symlink.stat.exists == false

- name: Run brew update to complete installation
  command: "{{ homebrew_prefix }}/bin/brew update --force"
  environment:
    HOMEBREW_NO_ANALYTICS_THIS_RUN: "1"
    HOMEBREW_NO_ANALYTICS_MESSAGE_OUTPUT: "1"
  when: homebrew_symlink.stat.exists == false

- name: Turn off analytics
  command: "{{ homebrew_prefix }}/bin/brew analytics off"
  when: homebrew_symlink.stat.exists == false
