---

- name: Set user managed scripts dir
  set_fact:
    user_shrc_dir: .zshrc.d

- name: Create {{ user_shrc_dir }} directory
  file:
    path: "{{ ansible_user_dir }}/{{ user_shrc_dir }}"
    state: directory

- name: Initialize ~/.zprofile
  template:
    src: zprofile.j2
    dest: "{{ ansible_user_dir }}/.zprofile"
  when: initialize | bool

- name: Initialize ~/.zshrc
  template:
    src: zshrc.j2
    dest: "{{ ansible_user_dir }}/.zshrc"
  when: initialize | bool

- name: Make sure ~/.zshrc loads user-managed scripts
  blockinfile:
    path: "{{ ansible_user_dir }}/.zshrc"
    marker: "# {mark} USER SPECIFIC ALIASES AND FUNCTIONS"
    create: yes
    block: |
      if [ -d ~/{{ user_shrc_dir }} ]; then
          for rc in ~/{{ user_shrc_dir }}/*(N); do
              if [ -f "$rc" ]; then
                  source "$rc"
              fi
          done
      fi
      unset rc

- name: Run .zprofile config roles
  include_tasks: config.yml
  vars:
    sh_shell: zsh
    sh_config_file: .zprofile
  with_items: "{{ config_zsh_profile_roles }}"
  loop_control:
    loop_var: config
  when: initialize | bool and config_zsh_profile_roles is defined

- name: Run .zshrc config roles
  include_tasks: config.yml
  vars:
    sh_shell: zsh
    sh_config_file: .zshrc
  with_items: "{{ config_zsh_rc_roles }}"
  loop_control:
    loop_var: config
  when: initialize | bool and config_zsh_rc_roles is defined
